.table-cell {
    -fx-font-family: Cambria ;
    -fx-font-size: 14pt ;
    -fx-text-fill: black ;
    -fx-border-color:  #d3d3d3;
}

.combo-box {
    -fx-font-family: Cambria ;
    -fx-font-size: 22;
}

.pane {
    -fx-font-family: Cambria ;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.button-view {
    -fx-font-family: Cambria ;
    -fx-font-size: 19;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-background-color: black;
}

.data-view {
    -fx-font-family: Cambria ;
    -fx-font-size: 20;
}